// Sidebar

.sidebar-layout {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
}

.sidebar {
  background-color: $navBg;
  color: $navText;
  width: 4.375rem;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow-y: auto;
}

@media (min-width: 992px) { // lg size
  .sidebar {
    width: 16.25rem;
  }
}
