@use 'sass:math';

.p-tag {
  cursor: pointer;
  background: $badgeBg;
  color: $badgeTextColor;
  font-size: $badgeFontSize;
  font-weight: $badgeFontWeight;
  padding: $tagPadding;
  border-radius: $borderRadius;

  &.p-tag-secondary {
    background-color: $secondaryButtonBg;
    color: $secondaryButtonTextColor;
  }

  &.p-tag-fade-primary {
    background-color: $fadePrimaryButtonBg;
    color: $fadePrimaryButtonText;
  }

  &.p-tag-fade-secondary {
    background-color: $fadeSecondaryButtonBg;
    color: $fadeSecondaryButtonText;
  }

  &.p-tag-success {
      background-color: $successButtonBg;
      color: $successButtonTextColor;
  }

  &.p-tag-fade-success {
    background-color: $fadeSuccessButtonBg;
    color: $fadeSuccessButtonText;
  }

  &.p-tag-info {
      background-color: $infoButtonBg;
      color: $infoButtonTextColor;
  }

  &.p-tag-fade-info {
    background-color: $fadeInfoButtonBg;
    color: $fadeInfoButtonText;
  }

  &.p-tag-warning {
      background-color: $warningButtonBg;
      color: $warningButtonTextColor;
  }

  &.p-tag-fade-warning {
    background-color: $fadeWarningButtonBg;
    color: $fadeWarningButtonText;
}

  &.p-tag-danger {
      background-color: $dangerButtonBg;
      color: $dangerButtonTextColor;
  }

  &.p-tag-fade-danger {
    background-color: $fadeDangerButtonBg;
    color: $fadeDangerButtonText;
  }

  .p-tag-icon {
      margin-right: math.div($inlineSpacing, 2);
      font-size: $badgeFontSize;
  }
}

.p-tag:hover {
  text-decoration: underline;
}