.p-hidden-accessible {
  position: relative;
}

.p-inputnumber-input {
  width: 2.75rem;
}

.p-text-primary {
  color: $primary !important;
}

.p-text-secondary {
  color: $neutral-400 !important;
}

.p-text-success {
  color: $success !important;
}

.p-text-info {
  color: $info !important;
}

.p-text-warning {
  color: $warning !important;
}

.p-text-help {
  color: $help !important;
}

.p-text-danger {
  color: $danger !important;
}

.p-text-link {
  cursor: pointer;
}

.p-text-link:hover {
  text-decoration: underline;
}

.p-text-link:focus {
  text-decoration: underline;
}

.p-text-bold {
  font-weight: 700 !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-fade-primary {
  background-color: $fadePrimary !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

.bg-fade-secondary {
  background-color: $fadeSecondary !important;
}

.bg-success {
  background-color: $success !important;
}

.bg-fade-success {
  background-color: $fadeSuccess !important;
}


.bg-info {
  background-color: $info !important;
}

.bg-fade-info {
  background-color: $fadeInfo !important;
}

.bg-help {
  background-color: $help !important;
}

.bg-fade-help {
  background-color: $fadeHelp !important;
}

.bg-warning {
  background-color: $warning !important;
}

.bg-fade-warning {
  background-color: $fadeWarning !important;
}

.bg-danger {
  background-color: $danger !important;
}

.bg-fade-danger {
  background-color: $fadeDanger !important;
}